.btn-lg{
    height: 40px;
    padding: 0px 43px;
    display: inline;
    border-radius: 40px;
    border: 1px solid white;
    background-color: #4AC337;
    color:  white;
    font-family: "Satoshi";
    cursor: pointer;
}

.btn-lg:hover{
    background-color: #2C812C;
}